
<!-- end single-header -->
<section class="content-section">
  <div class="container">
    <div class="row">
      <div class="col-lg-8">
        <div class="blog-post california">
      
          <div class="post-content">
            <h2 class="post-title" style="font-size:30px;">{{singlenews.post_name}}</h2>
            <div class="metas">
              <div class="author">
                <figure><img src="/images/kokthum.png" alt="Image"></figure>
                By <a href="#">{{singlenews.author}}</a></div>
              <div class="dot"></div>
              <span class="date">{{singlenews.update_date}}</span> </div>
              
              <img src="{{singlenews.post_image}}">

              
              {{{singlenews.post_content}}}

            
        
          </div>
          <!-- end post-content --> 
        </div>
        <!-- end blog-post -->
        
        <!-- end author-info-box -->

        <!-- end post-navigation --> 
      </div>
      <!-- end col-8 -->
      <div class="col-lg-4 print-box" >
        <h3 class="section-title" style="background-image: linear-gradient(to left, violet, indigo, orange, red);
        -webkit-background-clip: text;
        -moz-background-clip: text;
        background-clip: text;
        color: transparent;">Recent News</h3>
        <div class="blog-post miami dot-line" style="padding-bottom: 5px;margin-bottom:5px;">
                    <figure class="post-image"> <img src="/images/mini-thumb01.jpg" alt="Image"> </figure>
                        <div class="post-content">
                            <h3 class="post-title" class="fsize15">
                                <a href="post-single.html" class="fsize15" >
                                    ‘Threat to life,’ claims woman coach who made sexual harassment allegations against Haryana minister
                                </a>
                            </h3>
                            <div class="metas">
                                <div class="views">
                                    <span>Gobin Debbarma</span>
                                </div>
                                <div class="read-time">
                                    <i class="far fa-clock"></i> <span>27 April</span>
                                </div>
                            </div>
                        </div>
                </div>

                <div class="blog-post miami dot-line" style="padding-bottom: 5px;margin-bottom:5px;">
                    <figure class="post-image"> <img src="/images/mini-thumb01.jpg" alt="Image"> </figure>
                        <div class="post-content">
                            <h3 class="post-title" class="fsize15">
                                <a href="post-single.html" class="fsize15" >
                                    ‘Threat to life,’ claims woman coach who made sexual harassment allegations against Haryana minister
                                </a>
                            </h3>
                            <div class="metas">
                                <div class="views">
                                    <span>Gobin Debbarma</span>
                                </div>
                                <div class="read-time">
                                    <i class="far fa-clock"></i> <span>27 April</span>
                                </div>
                            </div>
                        </div>
                </div>
        <!-- end blog-post --> 

        <div class="blog-post kansas print-box" style="margin-top: 10px;padding:5px;">
          <figure class="post-image"><a href="#" class="bookmark"><i class="fal fa-bookmark"></i></a>  <img src="images/whats-new01.jpg" alt="Image" style="height: 180px;"> </figure>
          <div class="post-content">
            <h3 class="post-title custom-fsize"><a href="" class="custom-fsize">Suspect in US documents leak destroy evidence, researched mass shootings, US prosecutors say
            </a></h3>
            <div class="metas" style="margin-top: 5px;"> <span class="date">Kokthum News</span>
                -
            <span class="date"><a href="#">27 April, 2023</a></span> </div>
          </div>
        </div>
        <!-- end blog-post --> 


      </div>
      <!-- end col-4 --> 
    </div>
    <!-- end row --> 
  </div>
  <!-- end container --> 
</section>
<!-- end content-section -->


{{>national}}













